<main class='p-5'>
  {{!-- {{! Selector Lesson 1 }}

  <h1>Hello World</h1>

  <button type='button' class='btn'>Продовжити</button>

  <mark>Hi i'm Vlad and glad to see u</mark>

  <div class='box'>
    Class selector
  </div>

  <p id='user'>Id selector</p>

  <section>
    <p>This is parent to child selector
      <em class='child'>This is grandchild selector</em>
    </p>
  </section>

  <div class='sister'>
    {{! Можна юзати + у КСС, якщо це сестриний тег, але якщо заважає сусідній тег то можна юазти тільду }}
    <p>Brother</p>
    <em>Neigbor</em>
    <h2>Sister</h2>
  </div>  --}}

  {{! Selector Lesson 3 }}
  <div class='card p-5 m-5 card-dark'>
    <input
      class='input-dark'
      placeholder='це через рекваіред
	 '
      required
    />
    <input
      class='input-dark'
      placeholder='Це просто через властивість'
    />
    <input
      class='input-dark'
      type='number'
      placeholder='це через тайп'
    />
    <img
      src='https://picsum.photos/200/300'
      alt='this is an art'
      height='100px'
      width='100px'
      class='small-img'
    />

    <button class='btn'>class|=btn</button>

    <a class='small btn btn-secondary' href='#'>For ^ and *</a>

  </div>

</main>