{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='p-5'>
  <div class='row-12'>
    <div class='col-12'>
      <p class='display-3'>Cписок сторінок</p>
    </div>
    <mark class='col-6'>Цей мій перший пет проект, де я
      пратикував HTML і BootsTrap</mark>
  </div>
  <div class='row'>
    <div class='mt-5'>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/summary'
      >Summary</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/work'
      >Work</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/web'
      >Web</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/skills'
      >Skills</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/person'
      >Person</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/program'
      >Program</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/facebook'
      >Facebook</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/education'
      >Education</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/bio'
      >Bio</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/js'
      >JavaScript</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/car'
      >Car</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/mac'
      >Mac</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/task21'
      >Task21</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/task22'
      >Task22</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/task31'
      >Task31</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/task41'
      >Task41</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/task51'
      >Task51</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/shopprofile'
      >Shop Profile</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/shopcart'
      >Shop Cart</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/shopcatalog'
      >Shop Catalog</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/shoprev'
      >Shop Review</a>
      <a
        class='btn btn-primary mt-2 col-12'
        href='/summary'
      >Summary</a>
    </div>
  </div>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}