
/* * {
	color: red;
} */

/* :root {
	background-color: purple;
}


html {
	background-color: blue;
	max-width: 1200px;
}

mark {
	background-color: rgba(18, 215, 100, 0.216);	
}

.box {
	background-color: darkgray;
}

body {
	background-color: lawngreen;
}

#user {
	color: rgb(14, 0, 162);
}

section > p {
	color:palegoldenrod;
}

section em.child { 
	color: yellow;
}

.sister p ~ h2 {
	background-color: black;
	color: white
} */

.card-dark {
	background-color: whitesmoke;
}

.input-dark {
	background: rgba(246, 255, 0, 0.621);

}

.input-dark[required] {
	background: rgb(139, 44, 248);
}

.input-dark[type='number'] {
	background: rgb(193, 199, 162);
}

.input-dark::placeholder {
	color: black;
}

.small-img[alt~="art"] {
	height: 500px;
	width: 400px;
}

button[class|="btn"] {
	background: black;
	color: white;
}

a[class*="btn"] {
	background: rgb(110, 13, 13);
}


