<nav>
    <button type="button" class="btn btn-outline-info">{{> link text="Summary" href="/summary" noLine=true }}</button>
    <button type="button" class="btn btn-outline-info">{{> link text="Skills" href="/skills" noLine=true }}</button>
    <button type="button" class="btn btn-outline-info">{{> link text="Education" href="/education" noLine=true }}</button>
    <button type="button" class="btn btn-outline-info">{{> link text="Work" href="/work" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="Web" href="/web" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="Person" href="/person" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="Bio" href="/bio" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="JavaScript" href="/js" noLine=true }}</button>
</nav>