<nav>
    <button type="button" class="btn btn-outline-info">{{> link text="Summary" href="/summary" noLine=true }}</button>
    <button type="button" class="btn btn-outline-info">{{> link text="Skills" href="/skills" noLine=true }}</button>
    <button type="button" class="btn btn-outline-info">{{> link text="Education" href="/education" noLine=true }}</button>
    <button type="button" class="btn btn-outline-info">{{> link text="Work" href="/work" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="Web" href="/web" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="Person" href="/person" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="Bio" href="/bio" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="JavaScript" href="/js" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="Car" href="/car" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="Mac" href="/mac" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="Facebook" href="/facebook" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="Task21" href="/task21" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="Task22" href="/task22" noLine=true }}</button>
	 <button type="button" class="btn btn-outline-info">{{> link text="Task31" href="/task31" noLine=true }}</button>
</nav>